.page {
  box-sizing: border-box;
  max-width: 1280px;
  min-width: 320px;
  background-color: #2A2C2F;
  margin: 0 auto;
  padding: 28px 0 24px;
  text-rendering: optimizeLegibility;
}
@media screen and (max-width: 544px) {
  .page {
    padding: 16px 0 24px;
  }
}