.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  width: 100%;
  padding: 0 148px;
  margin: 0 auto;
  color: #FFF;
}
@media screen and (max-width: 1152px) {
  .lead {
    padding: 0 48px;
  }
}
@media screen and (max-width: 896px) {
  .lead {
    padding: 0;
  }
}
