.lead__title {
  box-sizing: border-box;
  max-width: 720px;
  margin: 0 0 32px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 70px;
    line-height: 74px;
  }
}
@media screen and (max-width: 544px) {
  .lead__title {
    max-width: 288px;
    margin: 0 0 32px 0;
    font-size: 40px;
    line-height: 44px;
  }
}