.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: opacity .4s;
}
.place__link:hover {
  opacity: .8;
}
.place__link:visited {
  text-decoration-line: underline;
}