.footer__nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .footer__nav {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 544px) {
  
}