.lead__caption {
  align-self: flex-start;
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
@media screen and (max-width: 1152px) {
  .lead__caption {
    margin-left: 34px;
  }
}
@media screen and (max-width: 896px) {
  .lead__caption {
    margin-left: 24px;
  }
}
@media screen and (max-width: 544px) {
  .lead__caption {
    margin-left: 16px;
  }
}